*{
  margin:0;
  overflow-x: hidden;
}
.main {
  text-align: center;
  background-color: #2d2d2d; /* Dark background color */
  color: #fff; /* Light text color for dark background */
  padding: 40px;
  font-family: 'Roboto', sans-serif; /* Different font */
}

.search {
  margin: 20px 0;
}

input[type="text"] {
  padding: 12px;
  border: 2px solid #fff; /* White border */
  border-radius: 8px;
  width: 250px;
  margin-right: 10px;
  background-color: transparent; /* Transparent background */
  color: #fff; /* Light text color */
}

button {
  padding: 12px 24px;
  background-color: #3498db; 
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth transition */
}

button:hover {
  background-color: #2980b9;
}

#title {
  font-size: 50px; /* Slightly larger font size */
  font-family: 'Dancing Script', cursive; /*font */
  font-weight: bold; 
}

ul {
  list-style-type: none;
  text-align: center; /* Center the list items */
  padding: 0;
}